{% if gitea_container_labels_traefik_enabled %}
traefik.enable=true

{% if gitea_container_labels_traefik_docker_network %}
traefik.docker.network={{ gitea_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if gitea_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ gitea_identifier }}-slashless-redirect.redirectregex.regex=({{ gitea_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ gitea_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [gitea_identifier + '-slashless-redirect'] %}
{% endif %}

{% if gitea_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ gitea_identifier }}-strip-prefix.stripprefix.prefixes={{ gitea_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [gitea_identifier + '-strip-prefix'] %}
{% endif %}

{% if gitea_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in gitea_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ gitea_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gitea_identifier + '-add-request-headers'] %}
{% endif %}

{% if gitea_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in gitea_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ gitea_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [gitea_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ gitea_identifier }}.rule={{ gitea_container_labels_traefik_rule }}
{% if gitea_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ gitea_identifier }}.priority={{ gitea_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ gitea_identifier }}.service={{ gitea_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ gitea_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ gitea_identifier }}.entrypoints={{ gitea_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ gitea_identifier }}.tls={{ gitea_container_labels_traefik_tls | to_json }}
{% if gitea_container_labels_traefik_tls %}
traefik.http.routers.{{ gitea_identifier }}.tls.certResolver={{ gitea_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ gitea_identifier }}.loadbalancer.server.port=3000
{% endif %}

{{ gitea_container_labels_additional_labels }}
